<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/Astronomia" version="1.0.0" viewmodes="maximized">
    <access origin="http://www.webservicex.net" subdomains="true"></access>
    <tizen:application id="w7d3xCfMwm.webService" package="w7d3xCfMwm" required_version="3.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Astronomia</name>
    <tizen:profile name="mobile"/>
</widget>
